rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /cotizaciones/{cotizacionId}/{fileName} {
      allow read, delete: if request.auth != null;
      allow create, update: if request.auth != null && request.resource.size < 20 * 1024 * 1024;
    }
    match /ordenesCompra/{ocId}/{fileName} {
      allow read, delete: if request.auth != null;
      allow create, update: if request.auth != null && request.resource.size < 20 * 1024 * 1024;
    }
  }
}
